<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.amiral.tangerangmaps"
      android:versionCode="1"
      android:versionName="1.0">
       <uses-sdk android:minSdkVersion="4" />
       
       	<supports-screens android:smallScreens="true"
					 android:normalScreens="true"
					 android:largeScreens="true"
					 android:anyDensity="true">
	</supports-screens>
	
    <application 
    	android:icon="@drawable/icon" 
    	android:label="@string/app_name" 
    	android:debuggable="true"
    	android:name=".TangerangApplication"
    	android:theme="@style/Theme.coba">
        
        <activity android:name=".TangerangMapsOpening"
                  android:label="@string/app_name"
                  android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TangerangMaps"
        		android:label="@string/app_name">
        </activity>
        <activity android:name=".TangerangMapsMain"
        		android:label="@string/app_name">
        </activity>
        
        <activity android:name=".Dashboard"
        		android:label="Dasboard">
       	</activity>
       	
        <activity android:name=".MapTangerang"
        		android:label="Peta">
        </activity>
        
        <activity android:name=".AugmentedReality"
        		android:label="Augmented Reality">
       	</activity>
       	
       	<activity android:name=".AddPOI"
       			android:label="Add Location">
       	</activity>
       	
       	<activity android:name=".About"
       			android:label="About">
       	</activity>
       	
       	<activity android:name=".News"
       			android:label="News">
       	</activity>
       	<activity android:name=".util.LauncherLayar"
       			android:label="Camera">
       	</activity>
       	<activity android:name=".util.MapRoute"
       			android:label="Camera">
       	</activity>
       	
       	<activity android:name=".Categories"
       			android:label="Categories">
       	</activity>
        
        <activity android:name=".ui.Goverment"
       			android:label="Categories">
       	</activity>
       	<activity android:name=".ui.Education"
       			android:label="Education">
       	</activity>
       	<activity android:name=".ui.Health"
       			android:label="Education">
       	</activity>
       	<activity android:name=".ui.Living"
       			android:label="Living">
       	</activity>
       	<activity android:name=".ui.Transportation"
       			android:label="Transportation">
       	</activity>
       	<activity android:name=".ui.ListPoi"
       			android:label="ListPoi">
       	</activity>
       	<activity android:name=".ui.InfoPoiDetail"
       			android:label="Poi Details">
       	</activity>
       	<activity android:name=".ui.InfoPoiDetailInformation"
       			android:label="Poi Details">
       	</activity>
       	<activity android:name=".ui.InfoPoiDetailComment"
       			android:label="Poi Details">
       	</activity>
       	<activity android:name=".ui.InfoPoiDetailMap"
       			android:label="Poi Map">
       	</activity>
	<uses-library android:name="com.google.android.maps"/>
	
    </application>
    
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> 
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
   <uses-permission android:name="android.permission.ACCESS_LOCATION"/>
   <uses-permission android:name="android.permission.INTERNET"/>
</manifest> 